[submodule "site-elisp/color-rg"]
    path = site-elisp/color-rg
    url = https://github.com/manateelazycat/color-rg.git
[submodule "site-elisp/awesome-pair"]
    path = site-elisp/awesome-pair
    url = https://github.com/manateelazycat/awesome-pair.git
[submodule "site-elisp/delete-block"]
    path = site-elisp/delete-block
    url = https://github.com/manateelazycat/delete-block.git
[submodule "site-elisp/all-the-icons-dired"]
	path = site-elisp/all-the-icons-dired
	url = https://github.com/jtbm37/all-the-icons-dired.git
[submodule "site-elisp/separedit.el"]
	path = site-elisp/separedit.el
	url = https://github.com/twlz0ne/separedit.el.git
[submodule "site-elisp/indent-bars"]
	path = site-elisp/indent-bars
	url = https://github.com/jdtsmith/indent-bars.git
